html {
  font-family: Avenir, sans-serif;
  height: 100%
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  margin: 0px;
}

header {
  font-size: 24px;
  flex: none;
}

h2 {
  text-align: center;
}

main {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: stretch;
  font-size: 16px;
  flex: auto;
}

h3 {
  text-align: center;

}

footer {
  flex: none;
  height: 24px;
}

.half {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  overflow-x: hidden;
}

#glomdisplay {
  overflow: auto;
}

#upload {
  display: none;
  margin: 0px;
}

.pressable {
  border-radius: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-weight: bold;
  cursor: pointer;
}

#upload-button {
  background-color: #d33a82;
  align-self: flex-end;
  color: white;
}

#glom-button {
  background-color: #d3fa12;
  align-self: flex-start;
  color: white;
}

#nom-inputs {
  display: flex;
  flex: auto;
}

.nom-space {
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow: hidden;
}

.nom-area {
  font-family: inherit;
  font-size: inherit;
  flex: auto;
  resize: none;
}
