* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Avenir, sans-serif;
  height: 100%
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding: 0 2.5%;
}

header {
  font-size: 24px;
  flex: none;
}

h2 {
  text-align: center;
}

main {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: stretch;
  font-size: 16px;
  flex: auto;
}

h3 {
  text-align: center;

}

footer {
  flex: none;
  height: 24px;
}

.lane {
  display: flex;
}

.lane.display-window {
  flex: auto;
  overflow: hidden;
}

.lane-dyad, .nom-trinity {
  flex: 1 1 0;
  overflow-x: hidden;
}

#glomdisplay {
  overflow: auto;
}

#upload {
  display: none;
  margin: 0px;
}

.pressable {
  border-radius: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-weight: bold;
  transition: all 0.18s ease 0s;
  display: inline;
}

.active.pressable:hover {
  opacity: 0.64;
  cursor: pointer;
}

#upload-button {
  background-color: #f8bd7f;
  align-self: flex-end;
  color: white;
}

#glom-button {
  align-self: flex-start;
  color: white;
}

.active {
  background-color: #91d18b;
}

.inactive {
  background-color: #e7e7de;
  cursor: default;
}

.nom-row {
  display: flex;
}

#pref-title {
  text-align: right;
}

#suff-title {
  text-align: left;
}

.nom-area {
  border-radius: 0.5em;
  border-style: none;
  margin: 2px;
  padding: 0.75em;
  font-family: inherit;
  font-size: inherit;
  resize: none;
}

#pref-input {
  background-color: #f7fbfc;
  text-align: right;
}

#root-input {
  background-color: #b9d7ea;
  text-align: center;
}

#suff-input {
  background-color: #d6e6f2;
}

#circle-canv {
  margin: 0.25em;
}

#status-circle {
  transition: all 0.36s ease 0s;
}

.complete {
  fill: #1FF238;
}

.waiting {
  fill: #E4FA1B;
}
