html {
  font-family: Avenir, sans-serif;
  height: 100%
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  margin: 0px;
}

header {
  font-size: 24px;
  flex: none;
}

main {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: stretch;
  font-size: 16px;
  flex: auto;
}

.half {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  overflow: auto;
}

#nom-inputs {
  display: flex;
  flex: auto;
}

.nom-area {
  font-family: inherit;
  font-size: inherit;
  flex: auto;
  resize: none;
}
